<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChainReaction Game</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}" />
</head>
<body>
    {% if msg == 'red' or msg == 'green' %}
        <label type="text">Player {{msg}}'s turn</label>
    {% endif %}
    {% if msg == 'red_start' %}
        <label type="text">Player red's turn</label>
    {% endif %}
    {% if msg == 'Red' or msg == 'Green' %}
        <script>
            window.alert("Player {{msg}} Wins");
        </script>
    {% endif %}
    <div class = "container">
        <form action="{{ url_for('index') }}" method="post">
            <input type="hidden" value="{{msg}}" name="choice"/>
            <table>
                {% for i in range(5) %}
                    <tr>
                        {% for j in range(5) %}
                        <td>
                            <button class="play_buttons" type="submit" value={{i*5+j}} name="button" {% if msg=='Red' or msg=='Green' %} disabled {% endif %} {% if board_Player[i][j] =="R" %} style="background-color:red;" {% endif %} {% if board_Player[i][j] =="G" %} style="background-color:green;" {% endif %} >
                                {% if Display_Box[i][j] != '0' %}
                                    {{Display_Box[i][j]}}
                                {% endif %}
                            </button>
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>
    <form action="{{ url_for('reset') }}" method="post">
        <button class="Reset_button">Reset</button>
    </form>
</body>
</html>